p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* TOC */

/* TOC book title */
.title {
  display: flex;
  align-items: center;
  
  height: 50px;
}

/* Make sure the top divider line aligns the divider line of the chapter */
.title + .divider {
  margin-top: -1px !important;
}

/* Tables */

table {
  font-size: 1.25rem;
}

table caption {
  font-size: 1.5rem;
}

#likert-labels-table {
  overflow-x: auto;
}