:root {
  --sidebar-width: 250px;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 
    "Noto Color Emoji";
}

/* Fonts */

body {
  font-family: var(--font);
}

.book.font-family-1 {
  font-family: var(--font);
}

.book .book-header, .book .book-summary {
  font-family: var(--font);
}

@media (min-width: 1200px) {
  .book.font-size-2 .book-body .page-inner section {
    font-size: 18px;
  }
}

/* Debugging */

.summary {
  background: transparent;
}

/* Positioning */

.book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book .book-summary {
  position: relative;
  left: 0;
}

.book.with-summary .book-summary {
  display: none;
}

.book .book-header.fixed {
  position: relative;
}

.book.with-summary .book-body {
  position: relative;
}

.book .book-body.fixed .body-inner {
  top: 0;
}

@media (min-width: 600px) {
  .book.with-summary .book-body {
    left: 0;
  }
  
  .book.with-summary .book-header.fixed {
    left: 0;
  }
}

@media (max-width: 600px) {
  .book.with-summary .book-body {
    left: 0;
    min-width: 300px;
  }
}

@media (max-width: 1240px) {
  .book .book-body.fixed {
    top: 0;
  }
}

.book .book-body, .book .book-body .body-inner {
  position: relative;
}

p.caption {
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

button {
  background: transparent;
  border: none;
  color: rgb(59, 69, 78);
}

/* TOC */
.toc-before {
  min-height: 42px; /* Match height of the navigation bar */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding-top: 7px;
  padding-left: 15px;
  margin-bottom: 2rem;
}

.toc-before span {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.toc-before img {
  max-width: 40px;
  max-height: 25px;
}

.book-header h1 {
  display: none;
}

.summary > li {
  margin-left: 4rem;
}

.book .book-summary {
  font-size: 1.5rem;
  /*background-color: rgb(245, 247, 249); */
  background-color: transparent;
  border-right: none;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  padding: 6px 15px;
}

.divider {
  display: none;
}

.book .book-header.fixed {
  border-bottom: none;
}

/* Foldable sections */

.foldable {
  margin: 0 0 1.275em;
  padding: .85em 1em;
  border-radius: 0.2rem;
  background-color: #f7f7f7;
}

.foldable p {
  display: none;
  
  margin-top: 0.85em !important;
  margin-bottom: 0 !important;
}

.fold-button {
  display: block !important;
  padding-left: 0;
  font-weight: bold;
}

.fold-button:hover {
  text-decoration: underline;
}

.fold-button:focus {
  box-shadow: none;
}
