:root {
  --sidebar-width: 290px;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 
    "Noto Color Emoji";
}

::placeholder {
  overflow: visible; /* To give more space to the placeholder text */
}

/* Fonts */

body {
  font-family: var(--font);
}

.book.font-family-1 {
  font-family: var(--font);
}

.book .book-summary {
  font-family: var(--font);
}

@media (min-width: 1200px) {
  .book.font-size-2 .book-body .page-inner section {
    font-size: 18px;
  }
}

/* Positioning */

.book .book-summary {
  width: var(--sidebar-width);
}

@media (min-width: 600px) {
  .book.with-summary .book-body {
    left: var(--sidebar-width);
  }
  
  .book.with-summary .book-header.fixed {
    left: var(--sidebar-width);
  }
}

@media (max-width: 600px) {
  .book .book-summary {
    width: var(--sidebar-width);
  }
  
  .book.with-summary .book-header.fixed {
    left: var(--sidebar-width);
    min-width: var(--sidebar-width);
  }
  
  .book.with-summary .book-body {
    left: var(--sidebar-width) !important;
    min-width: var(--sidebar-width);
  }
}

/* TOC */

.toc-before {
  min-height: 50px; /* Match height of the navigation bar */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding-left: 15px;
  margin-bottom: 2rem;
}

.toc-before span {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.toc-before img {
  max-width: 40px;
  max-height: 25px;
}

.summary > li {
  margin-left: 4rem;
}

.book .book-summary {
  font-size: 1.5rem;
  /*background-color: rgb(245, 247, 249); */
  background-color: transparent;
  border-right: none;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  padding: 8px 15px;
}

.divider {
  display: none !important;
}

.book .book-summary .book-search input, 
.book .book-summary .book-search input:focus, 
.book .book-summary .book-search input:hover {
  font-size: 14px;
  padding: 7px 7px;
}

/* Navigation bar */

.book-header h1 {
  display: none; /* Remove the page title */
}

.book .book-header.fixed {
  border-bottom: none;
}

/* Code */

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

/* Buttons */

button {
  background: transparent;
  border: none;
  color: rgb(59, 69, 78);
}

/* Foldable sections */

.foldable {
  margin: 0 0 1.275em;
  padding: .85em 1em;
  border-radius: 0.2rem;
  background-color: #f7f7f7;
}

.foldable p {
  display: none;
  
  margin-top: 0.85em !important;
  margin-bottom: 0 !important;
}

.fold-button {
  display: block !important;
  padding-left: 0;
  font-weight: bold;
}

.fold-button:hover {
  text-decoration: underline;
}

.fold-button:focus {
  box-shadow: none;
}