:root {
  --sidebar-width: 250px;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3, h4 {
  color: rgb(59, 69, 78);
}

button {
  background: transparent;
  border: none;
  color: rgb(59, 69, 78);
}

/* TOC */
.toc-before {
  min-height: 42px; /* Match height of the navigation bar */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding-top: 7px;
  padding-left: 15px;
}

.toc-before span {
  padding-left: 1rem;
  font-weight: bold;
}

.toc-before img {
  max-width: 40px;
  max-height: 25px;
}

.book-header h1 {
  display: none;
}

.book .book-summary {
  font-size: 1.25rem;
  background-color: rgb(245, 247, 249);  
  width: var(--sidebar-width);
}

@media (min-width: 600px) {
  book.with-summary .book-body {
    left: var(--sidebar-width);
  }
  
  .book.with-summary .book-header.fixed {
    left: var(--sidebar-width);
  }
}

@media (max-width: 600px) {
  .book .book-summary {
    width: var(--sidebar-width);
    bottom: 0;
    left: -100%;
  }
  
  .book.with-summary .book-header.fixed {
    left: var(--sidebar-width);
    min-width: var(--sidebar-width);
  }
  
  .book.with-summary .book-body {
    transform: none;
    left: var(--sidebar-width) !important;
    min-width: var(--sidebar-width);
  }
}

/* Foldable sections */

.foldable {
  margin: 0 0 1.275em;
  padding: .85em 1em;
  border-radius: 0.2rem;
  background-color: #f7f7f7;
}

.foldable p {
  display: none;
  
  margin-top: 0.85em !important;
  margin-bottom: 0 !important;
}

.fold-button {
  display: block !important;
  padding-left: 0;
  font-weight: bold;
}

.fold-button:hover {
  text-decoration: underline;
}

.fold-button:focus {
  box-shadow: none;
}
